h2 {
  font-size: 1.8em;
  font-weight: 700;
}
.btn-block {
  width: 100%;
  margin: 20px;
  margin-left: 1%;
}

h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4 {
  font-size: 1.4em;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  margin: 10px;
}
.blog-post {
  width: 80%;
  max-width: 1100px;

  margin: 20px auto 0;
  border: 1px solid #f4f4f4;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.blog-hero {
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  background: url("https://images.squarespace-cdn.com/content/v1/53ecd1bde4b0a6f9524254f8/1573226984139-K0T3P76RO56YE3SETDVJ/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/popular-places-must-visit-sites-nepal-lumbini.jpg?format=2500w")
    20% 70% no-repeat;
  background-size: cover;
  position: relative;
}
summary {
  margin-top: 20px;
  display: inline-block;
}
summary h3 {
  width: 100%;
  font-size: 2.5em;
  color: #555;
  font-weight: 500;
}

summary .blog-date {
  width: 100%;
  font-size: 15px;
  padding-left: 2px;
  color: #fcf800d7;
}
article {
  padding-bottom: 50px;
}
.blog-content {
  width: 55%;
  margin: auto;
}

.blog-img {
  width: 60%;
  height: 0;
  margin: 50px auto 60px;
  padding-bottom: 35%;
  background: url("https://www.goglides.com/blog/content/images/2020/05/kanyam-ilam.jpg")
    center center;
  background-size: cover;
  position: relative;
}

.blog-img-caption {
  position: absolute;
  bottom: -30px;
  font-size: 0.9em;
  color: rgb(255, 238, 6);
  left: 4%;
}

b {
  font-weight: bold;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .blog-post {
    width: 90%;
  }
  .blog-content {
    width: 75%;
  }

  .blog-hero {
    padding-bottom: 35%;
  }
}
@media (max-width: 600px) {
  .blog-post {
    font-size: 0.9em;
    width: 90%;
  }
  .blog-content {
    width: 80%;
  }
  .blog-img {
    width: 90%;
    padding-bottom: 50%;
  }
  .blog-hero {
    padding-bottom: 60%;
  }
}

b,
strong {
  font-weight: bolder;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  text-align: center;
  color: white;
}
b,
strong {
  font-weight: bolder;
  letter-spacing: 1px;
  position: relative;
  font-weight: 600;
  text-align: center;
}
.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: 100%;
  height: 50%;
}
.card-text:last-child {
  margin-bottom: 0;
  color: black;
}
p {
  margin-top: 1;
  margin-bottom: 2rem;
  color: white;
}
.btn-primary {
  color: rgba(255, 255, 255, 0.856);
  background-color: brown;
  border-color: #007bff;
}
.img-fluid {
  max-width: 100%;
  height: 10px;
}
body {
  padding-top: 56px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.logo {
  height: 55px;
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #ddd;
  color: white;
}
.navbar-light .navbar-brand {
  color: white;
  padding-right: inherit;
  margin-left: -6%;
}
.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 9%;
  background-color: #242729;
}
.h1,
h1 {
  font-size: 2.5rem;
  color: white;
}
body,
html {
  background-image: url("https://wallpaperaccess.com/full/1567665.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 20px;
}
.card10 {
  height: 580px;
  width: 350px;
  margin: 15%;
  background: #242729;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.user_card {
  height: 450px;
  width: 350px;
  margin: 15%;
  background: #242729;
  position: relative;
  display: flex;
  color: green;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 130px;
  width: 130px;
  border-radius: 60%;
}
a {
  color: #2600ffd5;
  text-decoration: none;
  background-color: transparent;
}

.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100px;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c0392b !important;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background-color: rgba(119, 172, 41, 0.473);
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: green;
}
.bottom center span {
  color: white;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
  text-align: center;
  color: green;
}
.bottom center a {
  color: black;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}
div.c1 {
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
}

div.c1.des {
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 50px;
}

div.c2 {
  font-weight: 500;
}

input.form-control.c {
  font-weight: 400;
}

input.form-control.c.message {
  height: 300px;
}

.contact-clean {
  padding: 80px;
  margin-top: -120px;
}

@media (max-width: 767px) {
  .contact-clean {
    padding: 20px 0;
  }
}

.contact-clean form {
  width: 86%;
  margin: 0 auto;
  background-color: #242729;
  padding: 40px;
  border-radius: 4px;
  color: green;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
  .contact-clean form {
    padding: 30px;
  }
}

.contact-clean h2 {
  margin-top: 10px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean .form-group:last-child {
  margin-bottom: 5px;
}

.contact-clean form .form-control {
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}
.site-footer {
  background-color: #242729;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 20px;
  color: white;
  margin-top: 30px;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: white;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
  margin: 10;
}
.footer-links li {
  display: block;
  margin: 10px;
}
.footer-links a {
  color: white;
  margin: 10px;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 10;
  text-align: right;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: start;
}
h2 {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
}
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
.bg-light {
  background-image: url("https://wallpaperaccess.com/full/1567665.png");
}
.font-weight-light {
  font-weight: 300 !important;
  color: white;
}
.font-weight-light {
  font-weight: 300 !important;
  color: black;
}
.text-muted {
  color: rgba(81, 255, 0, 0.712) !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 0rem !important;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}
/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
  text-align: center;
}
