h1 {
	font-size:2em;
	font-weight:700;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	margin:30px 0;
}

h2 {
	font-size:1.8em;
	font-weight:700;
}

h3 {
	font-size:1.6em;
	font-weight:700;
}

h4 {
	font-size:1.4em;
}

/* a {
	text-decoration:none;
}
p {
    line-height:1.9em;
    margin:2em 0;
    font-size:1em;
    font-weight: 500;
    
} */

.blog-post {
    width:80%;
    max-width:1100px;
  
    margin:20px auto 0;   
    border:1px solid #f4f4f4;
    box-shadow:0 0 25px rgba(0,0,0,.05);
}

.blog-hero {
    width:100%;
    height:0;
    padding-bottom:30%;
    background:url('https://images.squarespace-cdn.com/content/v1/53ecd1bde4b0a6f9524254f8/1573226984139-K0T3P76RO56YE3SETDVJ/ke17ZwdGBToddI8pDm48kNvT88LknE-K9M4pGNO0Iqd7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1USOFn4xF8vTWDNAUBm5ducQhX-V3oVjSmr829Rco4W2Uo49ZdOtO_QXox0_W7i2zEA/popular-places-must-visit-sites-nepal-lumbini.jpg?format=2500w') 20% 70% no-repeat ;
    background-size: cover;
    position: relative;
}


summary {
    margin-top:20px;
    display:inline-block;
}
summary h3 {
    width:100%;
    font-size:2.5em;
    color:#555;
    font-weight: 500;
}

summary .blog-date {
    width:100%;
    font-size:15px;
    padding-left:2px ;
    color:#fcf800d7;
}
article {
    
    padding-bottom:50px;
    
}
.blog-content {
    width:55%;
    margin:auto;
}

.blog-img {
    width:60%;
    height: 0;
    margin:50px auto 60px;
    padding-bottom:35%;
    background:url('https://www.goglides.com/blog/content/images/2020/05/kanyam-ilam.jpg') center center;
    background-size:cover;
    position:relative;
}

.blog-img-caption {
    position:absolute;
    bottom:-30px;
    font-size:.9em;
    color:rgb(255, 238, 6);
    left:4%;
}

b {
    font-weight:bold;
}

@media (min-width:601px) and (max-width:1000px){
    .blog-post {
        width:90%;
    }
    .blog-content {
        width:75%;
    }
  
    .blog-hero {
        padding-bottom:35%;
    }
}




@media (max-width:600px){
    .blog-post {
        font-size:.9em;
        width:90%;
    }
    .blog-content {
        width:80%;
    }
    .blog-img {
        width:90%;
        padding-bottom: 50%;
    }
    .blog-hero {
        padding-bottom:60%;
    }
}

b, strong {
    font-weight: bolder;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
    color: white;
}
b, strong {
    font-weight: bolder;
    letter-spacing: 1px;
    position: relative;
    font-weight: 600;
    text-align: center;
}
.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 100%;
    height: 50%;
}
.card-text:last-child {
    margin-bottom: 0;
    color: black;
}
p {
    margin-top: 1;
    margin-bottom: 2rem;
    color: white;
}
.btn-primary {
    color: rgba(255, 255, 255, 0.856);
    background-color: brown;
    border-color: #007bff;
}
.img-fluid {
    max-width: 100%;
    height: 10px;
}
body {
    padding-top: 56px;
  }
.img-fluid {
    max-width: 100%;
    height: auto;
}
.logo{
    height: 55px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-brand {
    color: white;
    padding-right: inherit;
    margin-left: -6%;
}
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 8%;
    background-color: rgba(119, 172, 41, 0.473);
}
body,
html
{
    background-image:url("https://cdn.hipwallpaper.com/i/42/27/wiDz8g.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    margin-top: 0%;
   
}
.user_card {
    height: 450px;
    width: 350px;
    margin: 15%;
    background: #c7bd37c4;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 130px;
    width: 130px;
    border-radius: 60%;
    
}
a 
{
color: #2600ffd5;
text-decoration: none;
background-color: transparent;
}

.form_container {
    margin-top: 100px;
}
.login_btn {
    width: 100px;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #c0392b !important;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background-color: rgba(119, 172, 41, 0.473);
}
.bottom center span{
  color: white;
  
}
.bottom center a{
  color: black;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
div,h2,h3,h6,form,label{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ul{list-style:none;margin:0px;padding:0px;}
.clear{clear:both;}
.booking-form-w3layouts{box-sizing:border-box;padding:3em 3em;background:rgba(0, 0, 0, 0.78);width:65%;margin:0 auto;}
h2.sub-heading-agileits,h3.sub-heading-agileits{display:inline-block;text-align:left;font-size:24px;color:#fff;text-transform:capitalize;margin-bottom:.4em;padding:0px 25px 10px 0px;font-weight:400;letter-spacing:2px;border-bottom:2px solid #0091cd;font-family:'Raleway', sans-serif;}
.radio-section{text-align:left;margin:0.7em 0;}
.radio-section h6{display:inline;margin-top:10px;color:#0091cd;font-size:19px;text-transform:capitalize;margin-bottom:.7em;font-weight:400;letter-spacing:2px;font-family:'Raleway', sans-serif;}
.radio-section ul{display:inline;}
.radio-buttons-w3-agileits li input[type="radio"]{cursor:pointer;}
.radio-buttons-w3-agileits li label{color:#fff;font-size:13.5px;font-weight:400;letter-spacing:1px;font-family:'Raleway', sans-serif;}
.booking-form-w3layouts input[type="text"],.booking-form-w3layouts input[type="email"],.booking-form-w3layouts textarea,select.form-control,input#datepicker{width:100%;font-weight:300;color:#fff;font-size:14px;letter-spacing:1.2px;padding:10px 10px;outline:none;background:rgba(255, 255, 255, 0);border:none;border-bottom:1px solid rgba(255, 255, 255, 0.27);box-sizing:border-box;font-family:'Roboto', sans-serif;}
.booking-form-w3layouts textarea{resize:none;height:80px;}
.field-agileinfo-spc{margin-bottom:1em;}
.form-w3-agile-text{width:100%;}
select.form-control option{background:#000;}
.booking-form-w3layouts input[type="submit"],.booking-form-w3layouts input[type="reset"]{text-transform:capitalize;background:#0091cd;color:#fff;padding:0.5em 4em;border:none;font-weight:500;font-size:1.2em;margin-top:1em;float:left;outline:none;letter-spacing:1px;-webkit-transition:.5s all;-moz-transition:.5s all;transition:.5s all;cursor:pointer;font-family:'Raleway', sans-serif;}
.booking-form-w3layouts input[type="submit"]{margin-right:1.5em;background:#d2741c;}
.booking-form-w3layouts input[type="submit"]:hover{background:#0091cd;color:#fff;}
.booking-form-w3layouts input[type="reset"]:hover{background:#d2741c;color:#fff;}
.booking-form-w3layouts ::-webkit-input-placeholder{color:#fff;}
.booking-form-w3layouts :-moz-placeholder{color:#fff;}
.booking-form-w3layouts ::-moz-placeholder{color:#fff;}
.booking-form-w3layouts :-ms-input-placeholder{color:#fff;}
.booking-form-w3layouts label{font-size:13.5px;color:rgba(255, 255, 255, 0.83);letter-spacing:2px;font-weight:400;position:relative;margin-bottom:5px;display:inline-block;text-transform:capitalize;}
ul.radio-buttons-w3-agileits li{display:inline-block;margin:0em 2em;}
@media (max-width:1440px){
.booking-form-w3layouts{width:73%;}
}
@media (max-width:1366px){
.booking-form-w3layouts{width:75%;}
}
@media (max-width:1280px){
.booking-form-w3layouts{width:80%;}
}
@media (max-width:1080px){
.booking-form-w3layouts{width:83%;padding:2em 2.2em;}
}
@media (max-width:1024px){
h2.sub-heading-agileits,h3.sub-heading-agileits{font-size:22px;padding:0px 20px 7px 0px;}
.field-agileinfo-spc{margin-bottom:0.8em;}
.booking-form-w3layouts input[type="submit"],.booking-form-w3layouts input[type="reset"]{padding:0.5em 3em;font-size:1.1em;}
}
@media (max-width:768px){
h2.sub-heading-agileits,h3.sub-heading-agileits{font-size:21px;padding:0px 15px 7px 0px;}
.radio-section h6{font-size:17px;letter-spacing:1.5px;}
ul.radio-buttons-w3-agileits li{margin:0em 1em;}
}
@media (max-width:667px){
h2.sub-heading-agileits,h3.sub-heading-agileits{font-size:19px;letter-spacing:1.5px;}
.booking-form-w3layouts{width:86%;padding:2em 2em;}
.booking-form-w3layouts input[type="text"],.booking-form-w3layouts input[type="email"],.booking-form-w3layouts textarea,select.form-control,input#datepicker{padding:8px 10px;}
.field-agileinfo-spc{margin-bottom:0.9em;}
h2.sub-heading-agileits,h3.sub-heading-agileits{margin-bottom:.6em;}
}
@media (max-width:640px){
.booking-form-w3layouts input[type="submit"]{margin-right:0.7em;}
}
@media (max-width:600px){
.booking-form-w3layouts{width:90%;}
.booking-form-w3layouts input[type="submit"],.booking-form-w3layouts input[type="reset"]{padding:0.5em 2em;}
}
@media (min-width:481px){
.main-flex-w3ls-sectns{display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;}
.form-w3-agile-text1,.form-w3-agile-text2{flex-basis:48.5%;-webkit-flex-basis:48.5%;}
}
@media (min-width:737px){
.triple-wthree{display:-webkit-flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;}
.form-w3-agile-text11,.form-w3-agile-text22,.form-w3-agile-text33{flex-basis:32%;-webkit-flex-basis:32%;}
}
@media (max-width:480px){
ul.radio-buttons-w3-agileits li{margin:0em 0.5em;}
.radio-section{margin:1.3em 0 .7em;}
.booking-form-w3layouts{width:85%;}
ul.radio-buttons-w3-agileits li{margin:1em 0em 0em 0.2em;display:block;}
.booking-form-w3layouts input[type="submit"],.booking-form-w3layouts input[type="reset"]{font-size:1em;}
.booking-form-w3layouts textarea{height:60px;}
.radio-section{margin:1em 0 .7em;}
}
@media (max-width:414px){
.booking-form-w3layouts{width:90%;}
.booking-form-w3layouts{width:90%;padding:1.5em 1.7em;}
}
@media (max-width:384px){
.booking-form-w3layouts input[type="submit"],.booking-form-w3layouts input[type="reset"]{float:none;}
.booking-form-w3layouts input[type="submit"]{margin-right:0em;}
}
@media (max-width:320px){
.booking-form-w3layouts{width:93%;padding:1.3em 1.5em;}
h2.sub-heading-agileits,h3.sub-heading-agileits{font-size:18px;letter-spacing:1.4px;padding:0px 12px 5px 0px;}
}