.img-fluid {
    max-width: 100%;
    height: auto;
  }
  .logo{
      height: 55px;
  }
  .navbar-light .navbar-nav .nav-link {
    color:white;
   
    
}
.navbar-light .navbar-brand {
    color: white;
    padding-right: inherit;
    margin-left: -6%;
}
.navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: 8%;
}
body,
		html {
			background-image: url("https://wallpaperaccess.com/full/166021.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
		}
        
        .user_card {
        height: 450px;
        width: 350px;
        margin: 15%;
        background: #c7bd37c4;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        height: 130px;
        width: 130px;
        border-radius: 60%;
        
    }
   
    a {
    color: #2600ffd5;
    text-decoration: none;
    background-color: transparent;
}

    .form_container {
        margin-top: 100px;
    }
    .login_btn {
        width: 100px;
        background: #c0392b !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #c0392b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }
    
